extends base

block content
  main.main
    .resetpassword-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--resetpassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password Confirm
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='resetToken') Reset Token
          input#resetToken.form__input(type='text', value=`${resetToken}`, disabled)
        .form__group
          button.btn.btn--green Confirm reset